.ng-invalid {
  color: #ef473a!important;
}

.table {
  border-collapse: collapse;
  th, td {
    padding: 2px;
    border: solid 1px #cccccc;
    font-size: 12px;

    &.frozen {
    }
  }

  td {
    background: lighten(#c0d1df, 10%);

  }

  th {
    font-weight: bold;
  }

  thead {
    th {
      background: #6099ce;

    }
  }

  tr.highlight {
    td {
      background: #b8d0e4 !important;
    }
  }

  &-view {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-fixed-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: #ffffff;
    overflow: hidden;

    .table-header {
      tr {
        th {
          background: #6099ce;
        }
      }
    }
  }

  &-fixed-header-inner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    background-color: #ffffff;
    overflow: hidden;
  }

  &-fixed-column {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #b8d0e4;
    overflow: hidden;

    td {
      background: #b8d0e4;
    }

    .table-footer {
      td {
        background: #6099ce;
      }
    }
  }

  &-footer {
    font-weight: bold;

    .table & {
      &.highlight {
        td {
          background-color: #6099ce !important;
        }
      }
    }

    td {
      background-color: #6099ce;
      color: white;

    }
  }
}

.item.ng-inactive {
  display: none;
}

.text-bold {
  font-weight: bold;
}

table.table[grid-view-scroll] {
  min-width: 100%;
}

.align-right {
  text-align: right
}
