.ng-invalid {
  color: #ef473a !important; }

.table {
  border-collapse: collapse; }
  .table th, .table td {
    padding: 2px;
    border: solid 1px #cccccc;
    font-size: 12px; }
  .table td {
    background: #e2eaf0; }
  .table th {
    font-weight: bold; }
  .table thead th {
    background: #6099ce; }
  .table tr.highlight td {
    background: #b8d0e4 !important; }
  .table-view {
    width: 100%;
    height: 100%;
    position: relative; }
  .table-fixed-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: #ffffff;
    overflow: hidden; }
    .table-fixed-header .table-header tr th {
      background: #6099ce; }
  .table-fixed-header-inner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    background-color: #ffffff;
    overflow: hidden; }
  .table-fixed-column {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #b8d0e4;
    overflow: hidden; }
    .table-fixed-column td {
      background: #b8d0e4; }
    .table-fixed-column .table-footer td {
      background: #6099ce; }
  .table-footer {
    font-weight: bold; }
    .table .table-footer.highlight td {
      background-color: #6099ce !important; }
    .table-footer td {
      background-color: #6099ce;
      color: white; }

.item.ng-inactive {
  display: none; }

.text-bold {
  font-weight: bold; }

table.table[grid-view-scroll] {
  min-width: 100%; }

.align-right {
  text-align: right; }
