<ion-view>
  <ion-nav-title>
    {{ profile.sale_ename }}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-ios-gear-outline" ui-sref="changePassword"></button>
    <button class="button icon ion-log-out" ng-click="logOut()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form name="formReport" ng-submit="submitReport(formReport)">
      <div class="list">
        <!--Chọn lựa loại báo cáo-->
        <label class="item item-input item-select balanced-bg">
          <span class="input-label light">
            Báo cáo
          </span>
          <select name="type" ng-model="report.type" ng-options="type as type.name for type in reportTypes track by type.value" ng-change="loadDataForReport()" required>
            <option value="">--Chọn loại báo cáo--</option>
          </select>
        </label>
        <ul ng-messages="formReport.type.$error" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn báo cáo</li>
        </ul>

        <!--Khách hàng / Sản lượng khách hàng-->
        <label class="item item-input item-select" ng-if="isFieldAvailable('slkh')">
          <span class="input-label">
            Khách hàng
          </span>
          <select name="customer" ng-model="report.customer" ng-options="customer as customer.cust_vname for customer in customers track by customer.cust_no" required>
            <!--<option value="">&#45;&#45;Chọn khách hàng&#45;&#45;</option>-->
          </select>
        </label>
        <ul ng-messages="formReport.customer.$error" ng-if="isFieldAvailable('slkh')" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn khách hàng</li>
        </ul>

        <!--Nhân viên / Sản lượng tiếp thị-->
        <label class="item item-input item-select" ng-if="isFieldAvailable('sltt') && checkRole([0,1,2,3])">
          <span class="input-label">
            Nhân viên
          </span>
          <select name="salemans" ng-model="report.saleman" ng-options="saleman as saleman.sale_ename for saleman in salemans track by saleman.sale_no" required>
            <!--<option value="">&#45;&#45;Chọn nhân viên&#45;&#45;</option>-->
          </select>
        </label>
        <ul ng-messages="formReport.salemans.$error" ng-if="isFieldAvailable('sltt') && checkRole([0,1,2,3])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn nhân viên</li>
        </ul>

        <!--Loại / Sản lượng khách hàng / tiếp thị-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slkh', 'sltt'])">
          <span class="input-label">
            Loại
          </span>
          <select name="partKind" id="partKind" ng-model="report.partKind" ng-options="kind as kind.name for kind in partKinds track by kind.value">
            <option value="">--Hỗn hợp & Đậm đặc--</option>
          </select>
        </label>

        <!--từ ngày / sản lượng khách hàng / tiếp thị-->
        <label class="item item-input" ng-if="isFieldAvailable(['slkh', 'sltt'])">
          <span class="input-label">
            Từ ngày
          </span>
          <input type="date" name="from" ng-model="report.from" required max="{{report.to | date:'yyyy-MM-dd'}}" ng-max="report.to">
        </label>
        <ul ng-messages="formReport.from.$error" ng-if="isFieldAvailable(['slkh', 'sltt'])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn ngày</li>
          <li ng-message="max" class="assertive">Chọn ngày chưa hợp lý</li>
        </ul>

        <!--Đến ngày / sản lượng khách hàng / tiếp thị-->
        <label class="item item-input" ng-if="isFieldAvailable(['slkh', 'sltt'])">
          <span class="input-label">
            Đến ngày
          </span>
          <input type="date" name="to" ng-model="report.to" required min="{{report.from | date:'yyyy-MM-dd'}}" ng-min="report.from">
        </label>
        <ul ng-messages="formReport.to.$error" ng-if="isFieldAvailable(['slkh', 'sltt'])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn ngày</li>
          <li ng-message="max" class="assertive">Chọn ngày chưa hợp lý</li>
        </ul>

        <!--Vùng / Sản lượng trưởng vùng / giám đốc-->
        <label class="item item-input item-select" ng-if="checkRole([0, 1]) && isFieldAvailable(['sltv'])">
          <span class="input-label">Vùng</span>
          <select name="area" id="area" ng-model="report.area" ng-options="area as area.name for area in areas track by area.value">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <!--Chọn trưởng vùng / Sản lượng trưởng vùng-->
        <label class="item item-input item-select" ng-if="checkRole([0, 1]) && isFieldAvailable(['sltv'])">
          <span class="input-label">Trưởng vùng</span>
          <select name="chief" id="chief" ng-model="report.chief" ng-options="chief as chief.sale_ename for chief in chiefs track by chief.sale_no" required>
            <!--<option value="">&#45;&#45;Chọn trưởng vùng&#45;&#45;</option>-->
          </select>
        </label>
        <ul ng-messages="formReport.chief.$error" ng-if="checkRole([0, 1]) && isFieldAvailable(['sltv'])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn trưởng vùng</li>
        </ul>

        <!--Nhãn / Sản lượng trưởng vùng-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['sltv'])">
          <span class="input-label">Nhãn</span>
          <select name="flag" id="flag" ng-model="report.flag" ng-options="flag as flag.name for flag in flags track by flag.value">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <!--Năm / Sản lượng trưởng vùng-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['sltv'])">
          <span class="input-label">Năm</span>
          <!--<input type="month" name="inYear" id="inYear" required ng-model="report.inYear">-->
          <select name="inYear" id="inYear" required ng-model="report.inYearSelected" ng-change="selectInYear()" ng-options="year as year for year in slYears track by year">
          </select>
        </label>
        <ul ng-messages="formReport.month.$error" ng-if="isFieldAvailable(['sltv'])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn năm</li>
        </ul>

        <!--Chu kỳ / Sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">Chu kỳ</span>
          <select name="period" id="period" ng-model="report.period" ng-options="per as per.name for per in periods track by per.value"
                  ng-change="selectSlgdPeriod()"
                  required>
            <!--<option value="">&#45;&#45;Chọn chu kỳ&#45;&#45;</option>-->
          </select>
        </label>
        <ul ng-messages="formReport.period.$error" ng-if="isFieldAvailable(['slgd'])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn chu kỳ</li>
        </ul>

        <!--Giám đốc / Sản lượng giám đốc / Only available for Tổng Giám Đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable('slgd') && checkRole([0])">
          <span class="input-label">
            Giám đốc
          </span>
          <select name="directors" ng-model="report.director" ng-options="dir as dir.sale_ename for dir in directors track by dir.sale_no" required>
            <!--<option value="">&#45;&#45;Chọn nhân viên&#45;&#45;</option>-->
          </select>
        </label>
        <ul ng-messages="formReport.directors.$error" ng-if="isFieldAvailable('slgd') && checkRole([0])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn nhân viên</li>
        </ul>

        <!--P1 / sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">P1</span>
          <select name="p1" id="p1" ng-model="report.p1" ng-options="p as p.p1_name for p in p1 track by p.p1" ng-change="getP2()">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <!--P2 / sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">P2</span>
          <select name="p2" id="p2" ng-model="report.p2" ng-options="p as p.p2_name for p in p2 track by p.p2" ng-change="getProduct()">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <!--sản phẩm / sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">Sản phẩm</span>
          <select name="product" id="product" ng-model="report.product" ng-options="p as p.product_vname for p in products track by p.product_no">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <!--Báo cáo theo ngày / sản lượng giám đốc-->
        <label class="item item-input" ng-if="isFieldAvailable(['slgd']) && report.period.name == 'Daily'">
          <span class="input-label">Ngày</span>
          <input type="date" name="directorDate" id="directorDate" ng-model="report.directorDate" required>
        </label>
        <!--báo cáo theo ngày / sản lượng giám đốc-->

        <!--báo cáo theo năm / sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd']) && report.period.name == 'Annually'">
          <span class="input-label">Năm</span>
          <select name="directorAnnualYear" id="directorAnnualYear" ng-model="report.slgdAnnual" required
                  ng-change="slgdAsAnnual()"
                  ng-options="year as year for year in slYears"></select>
        </label>
        <!--báo cáo theo năm / sản lượng giám đốc-->

        <!--báo cáo theo quý / sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd']) && report.period.name == 'Quarterly'">
          <span class="input-label">Quý</span>
          <select name="directorQuarterlyQuarter" id="directorQuarterlyQuarter" ng-model="report.slgdQuarterlyQuater" required
                  ng-change="slgdAsQuarterly()"
                  ng-options="q as q for q in [1,2,3,4]"></select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd']) && report.period.name == 'Quarterly'">
          <span class="input-label">Năm</span>
          <select name="directorQuarterlyYear" id="directorQuarterlyYear" ng-model="report.slgdQuarterlyYear" required
                  ng-change="slgdAsQuarterly()"
                  ng-options="year as year for year in slYears"></select>
        </label>
        <!--báo cáo theo quý / sản lượng giám đốc-->

        <!--báo cáo theo tháng / sản lượng giám đốc-->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd']) && report.period.name == 'Monthly'">
          <span class="input-label">Tháng</span>
          <select name="directorMonthlyMonth" id="directorMonthlyMonth" ng-model="report.slgdMonthlyMonth" required
                  ng-change="slgdAsMonthly()">
            <option value="{{m}}" ng-repeat="m in [0,1,2,3,4,5,6,7,8,9,10,11]" ng-selected="report.slgdMonthlyMonth == m">{{m + 1}}</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd']) && report.period.name == 'Monthly'">
          <span class="input-label">Năm</span>
          <select name="directorMonthlyYear" id="directorMonthlyYear" ng-model="report.slgdMonthlyYear" required
                  ng-change="slgdAsMonthly()"
                  ng-options="year as year for year in slYears"></select>
        </label>
        <!--báo cáo theo tháng / sản lượng giám đốc-->

        <ul ng-messages="formReport.date.$error" ng-if="isFieldAvailable(['slgd', 'pdmg'])" class="item">
          <li ng-message="required" class="assertive">Xin vui lòng chọn ngày</li>
        </ul>

        <!-- Báo cáo product margin -->
        <label class="item item-input item-select" ng-if="isFieldAvailable(['pdmg'])">
          <span class="input-label">Tháng</span>
          <select name="pdmgMonth" id="pdmgMonth" ng-model="report.pdmgMonth" required>
            <option value="{{m}}" ng-repeat="m in slMonths" ng-selected="report.pdmgMonth == m">{{m}}</option>
          </select>
        </label>
        <!-- ~~Báo cáo product margin~~ -->
        
        <div class="item">
          <button type="submit" class="button button-assertive button-block">XUẤT BÁO CÁO</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
