<ion-view>
  <ion-nav-title>Margin tháng: {{params.month | date:'yy-MM'}}</ion-nav-title>
  <ion-content scroll="false">
    <ion-scroll delegate-handle="main" direction="xy" zooming="false" has-bouncing="false" class="table-view" on-scroll="scrollView()">
      <div class="table-fixed-header" style="top: {{ scroll.top }}px;">
        <table class="table" id="table-header">
        </table>
        <table class="table table-fixed-header-inner" style="left: {{ scroll.left }}px;">
        </table>
      </div>
      <div class="table-fixed-column" style="left: {{ scroll.left }}px;">
        <table class="table" id="table-column">
        </table>
      </div>
      <table grid-view-scroll header="'#table-header'" column="'#table-column'" freeze-column-size="1" class="table">
        <thead>
          <tr class="balanced-bg">
            <th scope="col" class="light" ng-class="{ 'frozen' : $index < 1 }" ng-repeat="idx in data.index">{{ idx }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in data.data"
              class=""
              ng-class="{ 'table-footer' : $last, 'highlight': value[0].indexOf('Total') >= 0 && value[0].length <= 8, 'text-bold': value[0].indexOf('Total') >= 0 }">
            <td class="" ng-class="{ 'frozen' : $index < 1, 'align-right': $index >= 1 }" ng-repeat="c in value track by $index">{{ c }}</td>
          </tr>
        </tbody>
      </table>
    </ion-scroll>
  </ion-content>
</ion-view>
